body {
  width: 100%;
  text-align: center;
  margin: auto;
  background-color: powderblue;
  font-family: sans-serif;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}

h1 {
  font-size: 23px;
}

p, ul {
  font-size: 18px;
}

img {
  width: 100%;
}

.ry-article {
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
}

.ry-container {
  position: relative;
  text-align: center;
}

.ry-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ry-banner-text {
  font-size: 65px;
  color: #fff;
  font-weight: 800;
}

.ry-grid {
  display: flex;
}

.ry-specs-block {
  text-align: left;
}

.ry-item-title {
  text-align: center!important;
}

.ry-grid div {
  margin-left: 40px;
  width: 50%;
}

ul {
  list-style-type: none;
 }

 #sign-in-or-out-button {
   padding: 10px;
   font-size: 16px;
   border: 1px solid green;
   border-radius: 4px;
   background-color: green;
   color: white;
   cursor: pointer;
 }

 @media (max-width: 786px) {
  .ry-grid {
    display: block;
  } 

  .ry-grid div {
    margin-left: 10px;
    width: 100%;
  }

}